
// VARIABLES 

$primary_color : #06BBCC;
$secondary_color : #d2d5d8;
$third_color : #b0b3b7;
$nav : #000;


html{
    scroll-behavior: smooth;
}

body{
    //position: relative;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: sans-serif;
}

header{
    position: fixed;
    width: calc(100% - 290px);
    margin: 0 0 0 250px;
    //width: 100vw;
    background-color: white;
    padding: 25px;
    height: 30.4px;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;


    .toggle{

        border: 3px solid $primary_color;
        border-radius: 5px;
        width: 35px;
        text-align: center;
        cursor: pointer;
        padding: 5px;
        i{
            font-size: 30px;
        }
    }

    .toggle2{
        @extend .toggle;
        display: none;
    }

    .social{
        //border: 1px solid $primary_color;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div{
            width: 50px;
            height: 50px;
            //border: 1px solid $primary_color;
            border-radius: 50%;
            margin: 0 20px;
            background-color: $secondary_color;
        }
    }
    .site{
        display: flex;
        display: none;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .icon-site{
            font-size: 30px;
        }

        .name h1 a{
            color: $primary_color;
            font-size: 30px;
            text-decoration: none;
        }
    }

}
aside{
    position: fixed;
    width: 250px;
    height: 100vh;
    text-align: center;
    z-index: 2;
    margin: 0;
    top: 0;
    background-color: white;
    transition: .7s;


    .site{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .icon-site{
            font-size: 30px;
        }

        .name h1 a{
            color: $primary_color;
            font-size: 30px;
            text-decoration: none;
        }
    }
    
    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 15px;

        .lien{

            a{
                color: $nav;
                text-decoration: none;
            }
            &:hover{
                background-color: $primary_color;
                border-radius: 20px;
                padding: 1px 20px;
                transition: .2s;
    
                i{
                    color: white;
                }
                a{
                    color: white;
                }
            }
        }
        
    }

    .guide{
        position: relative;
        top: 190px;

        a{
           border: 1px solid black;
           padding: 10px;
           border-radius: 10px;
        }
    }

}
main{
    text-align: center;
    width: calc(100% - 290px);
    margin: 0 0 0 250px;
    padding: 20px;
    padding-top: 100px;
    border: none;
    background-color: $secondary_color;
    transition: .3s;


        .presentation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;

            .logo{
        
                img{
                    width: 300px;
                }
            }

            .description{
                font-size: 50px;
                font-weight: 700;
            }
        }
    }

    .categorie{
        margin-top: 100px;

        .title{
            font-size: 45px;
            color: $primary_color;
        }

    .indication{
        font-size: 20px;
        font-weight: 700;
    }

    .cat{
        display: flex;
        justify-content: space-evenly;
        margin: 100px ;

        div{
            background-color: $primary_color;
            //padding: 50px 60px;
            border-radius: 50px;
            width: 300px;
            height: 300px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            &:hover{
                background-color: white;
                transform: scale(1.2) translateX(2px);
                transition: .3s;

                i{
                    color: $primary_color;
                }
            }

            a{
                color: #000;
                text-decoration: none;

                i{
                    font-size: 50px;
                    margin-bottom: 20px;
                    color: #fff; 
                }
                p{
                    font-size: 35px;
                    font-weight: 700;
                }
            }
        }
    }
}

footer{
    background-color: $primary_color;
    padding: 25px;
    margin: -20px;

    .text{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .lienESA{
        margin-bottom: 20px;

        a{
            color: #000;

            margin-right: 10%;
            
            &:hover{
                color: white;
            }

        }
    }
}


@media only screen and (max-width : 1150px){
    aside{
        display: none;
        transition: .7s;
    }
    header{
        width: calc(100% - 35px);
        margin: 0 0 0 0;
        transition: .7s;
        
        .toggle{
            display: none;
        }
        .toggle2{
            display: block;
            transition: .7s;
        }
        .site{
            display: flex;
        }
        .social{
            display: none;
        }
    }

    main{
        width: calc(100% - 40px);
        margin: 0;

        // padding-top: 150px;
        // .presentation{
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;
        //     align-items: center;
        //     background-color: $third_color;
        //     margin: -75px -20px 0 -20px;
        //     padding: 75px 20px 40px 20px;


        //     .logo{
        //         img{
        //             width: 500px;
        //         }
        //     }
        //     .description{
        //         font-size: 40px;
        //         max-width: 600px;
        //     }
        // }
         .categorie{

            .cat{
                flex-direction: column;
                gap: 20px;
                align-items: center;
            }
        }
    }

}

.hide-aside{
    display: none;
    transition: .7s;

}
.show-aside{
    display: block;
    transition: .7s;
    height: 100vh;
}
.resize-header{
    width: calc(100% - 35px);
    margin: 0 0 0 0;
    transition: .7s;

}

.resize-main{
    width: calc(100% - 40px);
    margin: 0;
    transition: .7s;
}

@media only screen and (max-width : 800px){
    main{
        width: calc(100% - 40px);
        margin: 0;

        padding-top: 150px;
        .presentation{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            //background-color: $third_color;
            margin: -75px -20px 0 -20px;
            padding: 75px 20px 40px 20px;


           .logo{
                img{
                    width: 400px;
                }
            }
            .description{
               font-size: 40px;
               max-width: 600px;
            }
         }
         .categorie{

            .cat{
                flex-direction: column;
                gap: 20px;
                align-items: center;
            }
        }
    }
}

@media only screen and (max-width : 500px){
    main{

        width: calc(100% - 40px);
        margin: 0;

        .logo{
            img{
                width: 350px !important;
            }
        }
        .description{
           font-size: 30px !important;
           max-width: 400px !important;
        }
    }

    footer{
        margin: -20px;
    }
}